@import '~bootstrap/scss/bootstrap';

.logged-in {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.password {
  display: flex;
  flex-direction: column;
}

.logged-out {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.maker-block {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.hidden {
  display: none;
}

#message {
  padding-bottom: 15px;
  padding-top: 15px;
  text-align: center;
}

.loadout-block {
  padding: 5px;
}
