@import '~bootstrap/scss/bootstrap';

.loadout-list {
  border: 1px solid;
  display: flex;
  flex-wrap: wrap;
}

.loadout-block {
  border: 1px solid;

  h5 {
    margin-bottom: 0;
  }
  h6 {
    margin-bottom: 0;
  }
  p {
    margin-bottom: 0;
  }
}

.hidden {
  display: none;
}
